<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Todo App</title>
    </head>
    <body>
        <div>
            <!--entriesとしてRust側からテンプレートに渡す。entries分ループする-->
            {% for entry in entries %}
            <div>
                <div>id: {{ entry.id }}, txet: {{ entry.text }}</div>
                <form action="/delete" method="post">
                    <input type="hidden" name="id" value="{{ entry.id }}">
                    <button>delete</button>
                </form>
            </div>
            {% endfor %}
        </div>

        <form action="/add" method="post">
            <div>
                <input name="text">
            </div>
            <div>
                <button>add</button>
            </div>
        </form>
    </body>
</html>
